/* ***
 * GU Block Controller settings page styles.
 */

$black: #000;
$white: #fff;

#gu-block-controller-settings {
  margin: 1rem 0;

  fieldset {
    margin-bottom: 2rem;
  }

  // Select all button for an entire package.
  .select-all {
    float: left;
    margin-left: 0.5rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
    background-color: lighten( $black, 40% );
    color: $white;
    font-size: 0.75rem;
  }

  legend {
    float: left;
    margin-bottom: 1rem;
    color: $black;
    font-size: 1.25rem;
  }

  label {
    display: block;
    clear: both;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
  }
}
