/* ***
 * GU Block Controller settings page styles.
 */

$black: #000;

#gu-block-controller-settings {
  margin: 1rem 0;

  fieldset {
    margin-bottom: 2rem;
  }

  // Select all checkbox for an entire package.
  .select-all {
    position: relative;
    top: 0.25rem;
    float: left;
  }

  legend {
    float: left;
    margin-bottom: 1rem;
    color: $black;
    font-size: 1.25rem;
  }

  label {
    display: block;
    clear: both;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
  }
}
