/**
 * Tags: Checkbox
 *
 * Checkbox styles, used on the plugin settings pages.
 */

.block-controller-package {

  /*
   * Mixin for all checkboxes, regardless of state.
   */

  @mixin base_checkbox {
    border: 0;
    border-radius: 0.5rem;
    color: var(--bc-white);
    height: 1.75rem;
    margin-inline-end: 0.75rem;
    width: 6rem;

    &:before {
      content: '';
    }

    &:after {
      box-sizing: border-box;
      display: block;
      font-size: var(--bc-font-size-p-smaller);
      height: 100%;
      padding-block-start: 0.65rem;
      width: 50%;
    }
  }


  /*
   * The actual checkboxes.
   */

  input[type='checkbox'] {
    @include base_checkbox;

    // If a checkbox is not checked, then that block is enabled.
    &:not( :checked ) {
      background-color: var(--bc-green);

      &::after {
        border-inline-end: 1px solid var(--bc-white);
        content: 'On';
        padding-block-start: 0.9rem;
        padding-inline-start: 0.5rem;
        text-align: left;
      }

      &:hover,
      &:focus {
        background-color: var(--bc-green-darker);
      }
    }

    // If a checkbox is checked, then that block is disabled.
    &:checked,
    &[checked='checked'] {
      background-color: var(--bc-red);

      &::after {
        border-inline-start: 1px solid var(--bc-white);
        content: 'Off';
        margin-left: 50%;
        padding-block-start: 0.9rem;
        padding-inline-end: 0.5rem;
        text-align: right;
      }

      &:hover,
      &:focus {
        background-color: var(--bc-red-darker);
      }
    }

    // Special styling for disabled checkboxes.
    &:disabled {
      background-color: var(--bc-gray);
      color: var(--bc-black);
      cursor: default;

      &::after {
        border: 0;
      }

      &:hover,
      &:focus {
        background-color: var(--bc-gray);
      }
    }
  }

}
