/**
 * Tags: Table
 */

.block-controller-table {

  border-spacing: 0;
  font-size: var(--bc-font-size-p);
  
  // Heading cells
  th {
    border-bottom: 1px solid var(--bc-black);
    padding-block: 0.75rem;
    padding-inline: 0.1rem;
    text-align: left;
  }

  // Regular cells
  td {
    min-width: 16rem;
    padding-block: 0.75rem;
    padding-inline: 0.25rem;
  }

  // Zebra striping
  tbody tr:nth-child(2n) {
    background-color: var(--bc-gray);
  }

}