/**
 * Checkbox
 *
 * Checkbox styles, used on the plugin settings pages.
 */

.block-controller-package {

  /*
   * Mixin for all checkboxes, regardless of state.
   */

  @mixin base_checkbox {
    border: 0;
    border-radius: 0.5rem;
    color: $white;
    height: 1.75rem;
    width: 6rem;

    &:before {
      content: '';
    }

    &:after {
      box-sizing: border-box;
      display: block;
      font-size: 0.85rem;
      height: 100%;
      padding-top: 0.65rem;
      width: 50%;
    }
  }


  /*
   * The actual checkboxes.
   */

  input[type='checkbox'] {
    @include base_checkbox;

    // If a checkbox is not checked, then that block is enabled.
    &:not( :checked ) {
      background-color: $green;

      &::after {
        border-right: 1px solid $white;
        content: 'On';
        padding: 0.9rem 0 0 0.5rem;
        text-align: left;
      }

      &:hover,
      &:focus {
        background-color: darken( $green, 10% );
      }
    }

    // If a checkbox is checked, then that block is disabled.
    &:checked,
    &[checked='checked'] {
      background-color: $red;

      &::after {
        border-left: 1px solid $white;
        content: 'Off';
        margin-left: 50%;
        padding: 0.9rem 0.5rem 0 0;
        text-align: right;
      }

      &:hover,
      &:focus {
        background-color: darken( $red, 10% );
      }
    }

    // Special styling for disabled checkboxes.
    &:disabled {
      background-color: $gray;
      color: $black;
      cursor: default;

      &::after {
        border: 0;
      }

      &:hover,
      &:focus {
        background-color: $gray;
      }
    }
  }

}
