/**
 * An individual block displayed on the details page.
 */

.block-controller-block {
  background: $white;
  border: 1px solid $gray;
  border-radius: 0.15rem;
  box-shadow: $gray 0 1px;
  margin: 2rem 0;


  /*
   * Heading.
   */

  &-heading {
    border-bottom: 1px solid $gray;
    padding: 0.5rem 1rem;
    position: relative;

    // Heading text.
    legend,
    h2 {
      font-size: 1rem;
      font-weight: normal;
      margin-bottom: 0;
      margin-top: 0;
    }
  }


  /*
   * Block of options.
   */

  &-options {
    padding: 2rem 1rem;

    p {
      margin-bottom: 1.5rem;
      margin-top: 0;
    }

    // Label for an individual block.
    label {
      cursor: default;
      display: block;
      font-size: 0.85rem;
      margin-bottom: 1rem;
    }

    // Counter text for blocks that exist at least once on the site.
    .count {
      display: inline-block;
      font-size: 0.75rem;
      margin-left: 0.5rem;

      a {
        color: $red;

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}
