/**
 * Details navigation
 */

.block-controller-details-nav {
  p {
    display: inline-block;
    font-weight: bold;
  }

  ul {
    display: inline-block;
  }

  li {
    border-left: 1px solid $black;
    display: inline;
    padding-inline: 0.5rem;

    &:first-child {
      border-left: 0;
    }
  }
}