/**
 * Header used on all plugin admin pages.
 */

.threepm-header {
  background-color: $white;
  border-bottom: 1px solid $gray;
  margin-bottom: 2rem;
  margin-left: -1.25rem;
  padding: 1rem;

  // Brand name container.
  #threepm-name {
    display: inline-block;
    font-family: Georgia, serif;
    font-size: 1.5rem;
    margin: 0 0.5rem;

    span {
      color: $blue;
    }
  }
}
