/**
 * Settings buttons.
 */

// Submit.
#block-controller-settings {
  input[type='submit'] {
    background-color: $blue;
    border-color: $blue;
    border-radius: 0.1rem;
    padding: 0.25rem 0.75rem;

    &:hover,
    &:focus {
      background-color: darken( $blue, 10% );
    }
  }
}

// Toggle all.
.block-controller-package {
  .toggle-all-on,
  .toggle-all-off {
    background-color: $blue;
    border: 0;
    color: $white;
    cursor: pointer;
    padding: 0.6rem 1rem;
    position: absolute;
    right: 0;
    top: 0;

    &:hover,
    &:focus {
      background-color: darken( $blue, 10% );
    }
  }

  .toggle-all-on {
    right: 5rem;
  }
}
