/**
 * Header used on all plugin admin pages.
 */

.threepm-header {
  background-color: $white;
  border-bottom: 1px solid $gray;
  margin-bottom: 2rem;
  margin-left: -1.25rem;
  padding: 1rem;

  img.logo {
    height: 2rem;
    margin-right: 0.5rem;
  }

  h1 {
    display: inline;
    position: relative;
    top: -0.35rem;
  }
}
