/**
 * Color definitions.
 *
 * https://coolors.co/ff0e0a-32936f-2274a5-503d42-f5fbef
 */

$black:   #222;
$white:   #fff;
$gray:    #d7d3d7;

$red:     #ff0e0a;
$green:   #32936f;
$purple:  #503D42;
$blue:    #2274a5;
