/**
 * Color definitions.
 *
 * https://coolors.co/ff0e0a-32936f-2274a5-503d42-f5fbef
 */

$black:   #000;
$white:   #fff;
$gray:    #d7d3d7;

$red:     #c33c54;
$green:   #558b72;
$blue:    #008ab8;
